# npm
node_modules/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# vercel
.vercel

# testing
coverage

# next.js
.next/
out/

# production
build

# turbo
.turbo

firebase-debug.log*

dist/

# functions
apps/firebase-functions/isolate
apps/firebase-functions/lib